body {
  margin: 0;
  background-color: #333;
  color: #fff;
  height: 100vh;
}

.container {
  
  display: flex;
  border: 1px solid #fff;
  height: 100vh;
}
.leftContainer {
  background-color: #333;
  padding: 20px;
  min-width: 250px;
}
.inboxContainer {
  display: flex;
  flex-direction: column;
}
.rightContainer {
  border: 1px solid #fff;
  padding: 20px;
  flex: 1;
}
.itemConatainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}
.itemConatainer:hover {
  background-color: #444;
  cursor: pointer;
}
.emailContainer {
  margin-bottom: 20px;
}